/* Component Global*/
.title-section{
    width:fit-content;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(to right, #E78724 , #FBC713);
    padding: 10px 40px 10px 40px;
    margin:auto;
    margin-bottom: 45px;
    border-radius: 50px;
    border-left: 5px solid #DBC323;
    box-shadow: rgb(192, 192, 192) 5px 5px 10px;
}

.nav-link {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 5px;
    border-radius: 15px;
}
.nav-link:hover{
    color: #F47735;
    background-color: #fff;
}
.nav-link:active{
    color: #F47735;
    background-color: #fff;
}
.nav-link.active{
    color: #F47735;
    background-color: #fff;
}
.nav-link.masuk{
    color: #F47735;
    background-color: #fff;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.navbar-brand img{
    margin-right: 8px;
}
.navbar-brand{
    color: #fff;
}
.navbar-custom .navbar-toggler{
    color: #fff !important;
    border-color: #fff !important;
}
.navbar-toggler-icon{
    color: #fff;
}
.btn-orange-slider{
    background-color:#E78724;
}
.btn-orange {
    margin-top: 10px;
    background-color:#E78724;
    color:#fff;
    padding: 8px 50px;
}
.btn-orange:hover{
    color:#fff;
    background-color:#FBC713;
}
.btn-orange2 {
    margin-top: 10px;
    background-color:#C8B32D;
    color:#fff;
    padding: 7px 50px;
}
.btn-orange2:hover{
    color:#fff;
    background-color:#FBC713;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffd8ac;
}
/* Header */
.bg-header {
    width: 100%;
    background-image: url('/assets/images/bg-header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
/* Slider Header */
#slider-header {
    position: relative;
    z-index: 1;    
    background-size: cover;
    height: 360px;
}

#slider-header .carousel-item .mask {
    position: relative;
    top: 0;
    left: 0;
    /* height: 100%; */
    width: 100%;
    background-attachment: fixed;
}

#slider-header h3 {
    font-size: 7vh;
    margin-bottom: 15px;
    color: #E18A29;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600;
}

#slider-header p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #bdc3c7;
}
#slider-header img{
    height: 100%;
}
#slider-header .carousel-item a {
    background: #F47735;
    font-size: 14px;
    color: #FFF;
    padding: 13px 32px;
    display: inline-block;
}

#slider-header .carousel-item a:hover {
    background: #394fa2;
    text-decoration: none;
}

#slider-header .carousel-item h4 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
#slider-header .carousel-item h3 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

#slider-header .carousel-item p {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

#slider-header .carousel-item a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#slider-header .carousel-item .mask img {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    display: block;
    height: auto;
    max-width: 100%;
}
#slider-header h3,
#slider-header h4,
#slider-header p,
#slider-header a,
#slider-header .carousel-item .mask img {
    -webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slider-header .container {
    max-width: 1430px;
}

#slider-header .carousel-item {
    height: 100%;    
}

#slider-header .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #E18A29;
}
#slider-header .carousel-indicators{    
    right: 60%;
    bottom: 15%;
}


#slider-header.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

#slider-header .carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

#slider-header .carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
#slider-header .carousel-fade .carousel-item.active {
    opacity: 1
}

#slider-header .carousel-fade .carousel-item-left.active,
#slider-header .carousel-fade .carousel-item-right.active {
    opacity: 0
}

#slider-header .carousel-fade .carousel-item-left.active,
#slider-header .carousel-fade .carousel-item-next,
#slider-header .carousel-fade .carousel-item-prev,
#slider-header .carousel-fade .carousel-item-prev.active,
#slider-header .carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

@supports (transform-style:preserve-3d) {

    #slider-header .carousel-fade .carousel-item-left.active,
    #slider-header .carousel-fade .carousel-item-next,
    #slider-header .carousel-fade .carousel-item-prev,
    #slider-header .carousel-fade .carousel-item-prev.active,
    #slider-header .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

#slider-header .carousel-fade .carousel-item-left.active,
#slider-header .carousel-fade .carousel-item-next,
#slider-header .carousel-fade .carousel-item-prev,
#slider-header .carousel-fade .carousel-item-prev.active,
#slider-header .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

#slider-header .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

#slider-header .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

#slider-header .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

/* Section Informasi Lomba */
.bg-blue-grad{    
    background-image: linear-gradient(#EAF5FB, #fff);
}
.menu-sd{
    background-color: #CC1D2D;
}
.menu-diskus{
    background-color: #A7663F;
}
.menu-smp{
    background-color: #276CAA;
}
.menu-sma{
    background-color: #999999;
}
.menu-smk{
    background-color: #999999;
}
.menu-dikti{
    background-color: #007E85;
}

.menu-jenjang{
    display: block;
    width: 100%;    
    margin:auto;    
    margin-bottom: 30px;
    text-align:center;
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50% 30%;    
    padding-bottom: 35px;
    color: #fff;
    box-shadow: rgb(192, 192, 192) 5px 5px 10px;
    transition: 0.3s;
}
.menu-jenjang:hover{
    color: white;
    background-color: silver;
    text-decoration: none;
    padding-top: 10px;
}
.menu-jenjang img{
    position: relative;
    top: 24px;
    width: 70%;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #fff;
}
.menu-jenjang h3{
    margin-top:24px;
    font-weight: 700;
}

/* Section Layanan */
#slider-layanan{
    margin-bottom: 10%;
}
#slider-layanan .icon-layanan {  
    position: absolute;
    top: 25%;
    left: -15%;
    width: 35%;                     
}
#slider-layanan .card {
    border-radius: 1.25rem;
    background-color: #29ABE2;
    border: none;
    margin-left: 10%;
    height: 200px;
}

#slider-layanan .card-link {
    display: block;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 10px;
    color: white;
    padding: 2px 12px;
    background-color: #E78724;
}

#slider-layanan.carousel{
    padding: 0 5%;
}
#slider-layanan .card-body{
    padding-left: 20%;
    color: #fff;
    font-size: 14px;
}
#slider-layanan .carousel-control-next, #slider-layanan .carousel-control-prev {
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: #f47735;
    border-radius: 50%;
}
/* carousel */
@media (max-width: 768px) {
    #slider-layanan .carousel-inner .carousel-item>div {
        display: none;
    }

    #slider-layanan .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#slider-layanan .carousel-inner .carousel-item.active,
#slider-layanan .carousel-inner .carousel-item-next,
#slider-layanan .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    #slider-layanan .carousel-inner .carousel-item-right.active,
    #slider-layanan .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    #slider-layanan .carousel-inner .carousel-item-left.active,
    #slider-layanan .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

#slider-layanan .carousel-inner .carousel-item-right,
#slider-layanan .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/* Section Event */
.bg-orange-grad{
    background-image: url('/assets/images/bg-orange-grad.svg');
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-event{
    /* background-image: url('/assets/images/slider-bg.png'); */
    background-color: #FFFFFF;
    border: solid 2px #E18A29;
    border-radius: 20px;
    height:250px;
    padding: 0 2%;
}
.event-hero{
    position: absolute;    
    left: 14%;
    width: 147%;
    z-index: 1;
}
#slider-event{
    margin-bottom: 10%;
}
#slider-event .img-event {  
    width: 70%;                     
    margin: auto;
}
#slider-event .card {
    border-radius: 1.25rem;
    background-color: #FFFFFF;
    border: none;    
    height: 200px;
    text-align: center;
}

#slider-event .card-link {
    position: absolute;
    bottom: 0;    
    font-size: 14px;
    font-weight: 500;    
    border-radius: 10px;
    color: white;
    padding: 2px 12px;
    background-color: #E78724;
    margin: 0 30%;
}

#slider-event.carousel{
    padding: 0 5%;
}
#slider-event .card-body{    
    color: #fff;
    font-size: 2vh;
}
#slider-event .carousel-control-next, #slider-event .carousel-control-prev {
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: #f47735;
    
}
@media (max-width: 768px) {
    #slider-event .carousel-inner .carousel-item>div {
        display: none;
    }

    #slider-event .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#slider-event .carousel-inner .carousel-item.active,
#slider-event .carousel-inner .carousel-item-next,
#slider-event .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    #slider-event .carousel-inner .carousel-item-right.active,
    #slider-event .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    #slider-event .carousel-inner .carousel-item-left.active,
    #slider-event .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

#slider-event .carousel-inner .carousel-item-right,
#slider-event .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/* Section Berita */
.bg-berita{
    background-color: #DBC224;
}
.berita-terbaru{
    background-color: #fff;
    padding: 18px;    
    border-radius: 20px;
}
.badge-orange{
    background-color: #D78428;
}
.media {
    background-color:#fff;
    min-height: 140px;
    padding: 14px;
    border-radius: 20px;    
}
.btn-radius{    
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
}

/* Section Video */


/* Pengumuman */
.pengumuman-card{
    display: flex;       
    background-color: #29ABE2;
    color: #fff;
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 18px;
    box-shadow: rgb(192, 192, 192) 5px 5px 10px;
    transition: 0.3s;
}

.pengumuman-card div{
    display: block;
    width: fit-content;
    text-align:center;  
    border-right: solid 1px #fff; 
    padding-right: 20px;
    
}
.pengumuman-card div > h2, h4, h5 {      
    padding: 0;
    margin: 0;
}
.pengumuman-card > h4{    
    display:flex;
    align-items: center;  
    padding: 0;
    margin: 0;  
    margin-left: 20px;
}

.pengumuman-card:hover{
    background-color: #E78724;
    text-decoration: none;
    color: #fff;
}

/* Vote */
.vote{
    margin-top: 200px;
    background-color: #FFFFFF ;
    border: 2px #E78724 solid;
    border-radius: 40px;    
    /* height: 420px; */
    padding: 50px 29px;
}
.vote img{
    position: absolute;
    top: 8%;
    left: 32%;
    z-index: -1;
    width: 35%;    
}
.vote h2{
    font-weight: 500;
    color:#E78724;
}
.vote h4{
    color: rgb(138, 137, 137);
    margin: 24px 0;
}
.vote label {
    font-weight:500;
    color:#E78724
}

.vote input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    /* background-color: rgb(138, 137, 137); */
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  .vote input[type="radio"]:checked {
    background-color: #E78724;
    
  }

  /* Quotes */
  .quotes{
      background-color: #E78724;
      border-radius: 16px;
      padding: 40px;
      margin-top: 50px;
  }
  .quotes img{
    position: absolute;
    top: 30px;
    left: -80px;
    width: 25%;
  }
  .quotes .txt-quotes{      
      text-align: center;
      color: #FFFFFF;
      margin-top: 0;
      padding: 50px 0 0 20px;
  }
  .txt-quotes h3{
    font-style: italic;
  }
  .hasil-vote{
      text-align: center;
  }
  .hasil-vote canvas{
      width: 80% !important;
      height: 80% !important;
      margin: auto;
  }
  .hasil-vote h3{
      color: #535353;
      margin-top: 30px;
  }

  /* Poster Slider */
  /* ul */
  .ul__list--inline {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ul__list--inline > li {
    display: inline-block;
}
.ul__list {
    list-style: none;
    padding: 0;
    margin: 0;
}       

/* slider */
.images__slider img{
    max-width: 100%;
} 
.images__slider img{
    object-fit: contain;
    width: 350px;
    height: 350px;
}
.images__slider a{
    font-size: 13px;
    text-align: center;
    color: #3e3c3c;
}
@media screen and(max-width: 768px){
    .images__slider img{
        width: 350px;
    }
}

@media screen and(max-width: 576px){
    .images__slider img{
        width: 280px;
        margin: 0 auto;
    }
}

.slider__offset{
    width: 1000px;
}
@media screen and(max-width: 1024px){
    
    .slider__offset{
        width: 800px;
    }
}

@media screen and(max-width: 576px){
    .slider__offset{
        width: 100%;
    }
}
.bg__grub--slider{
    background-color: #d0d0d026;
    border-radius: 20px;
}

.slider__arrow li {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #E78724;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
}
.slider__arrow li:hover {
    box-shadow: 0px 10px 40px #3e3c3c 7a;
}
.slider__arrow li i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card-poster{
    margin-bottom: 40px;
}
.card-poster h3{
    color: #E18A29;
}
.card-poster p{
    color: #696969;
}
.card-poster a{    
    color:#C8B32D ;
}
/* Video Slider */
.video-slider{
    width: 100%;            
}
.video-slider iframe{
    width: 550px;
    height: 300px;
}
.card-slider a{
    display: block;
    width: 80%;
    text-align: center;            
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #ffffff;
    color: #E78724;
    border-radius: 18px;
}
.card-slider.slick-slide{
    opacity: 0.3;
}
.slick-current.slick-active.slick-center{
    opacity: 1;
}
.video-slider .slick-prev:before, .video-slider .slick-next:before {    
    color:#E18A29;    
}
 /* Langganan */
 .langganan{
    background-color: #29ABE2;
    color:#fff;
    border-radius: 16px;
    padding: 40px;
    margin-top: 50px;
 }
 .langganan img{
    position: absolute;    
    top: 30px;
    left: -80px;
    width: 280px;
 }
 .langganan .txt-langganan{    
    color: #FFFFFF;
    margin-top: 0;
    padding: 18px 40px 12px 137px;
 }
 .langganan form{
    padding-left: 137px;
 }
 .langganan form .form-control{
    font-weight: 500 !important;
   
 }
 /* Galeri */
 .gallery-grid {  
    background-color: #f3f4f6;  
    padding:2%;
    border-radius: 3%;
 }
 .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .card-album {
      width: 100%;
      height: 100%;
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .card-album h3{
      position: absolute;
      top: 40%;  
      color: #272727;  
  }
  .card-album span{
    margin-top: 10px;
  }
  .card-album span{
      display: block;
      width: 100%;
      color: #535353;
  }
  .card-album a{
      position: absolute;
      bottom: 10px;
      left: 38%;
      background-color: #E18A29;
      border-radius: 20px;
      padding: 10px 20px;
      color: #FFF;
  }
  .card-album a:hover{
      background-color: #29ABE2;
      text-decoration: none;
      transition: .5s ease;
  }
  .gallery-grid:hover .image {
    opacity: 0.3;
  }
  
  .gallery-grid:hover .card-album {
    opacity: 1;
  }
  
/* Counter Pengunjung */
.pengunjung{    
    display: flex;  
    width: 80%;
    margin: auto;  
}
.pengunjung h1{
    color: #29ABE2;
}
.pengunjung p{
    color: #E18A29;
    padding: 4px 10px;
    font-size: 13px;
    font-weight:500;
}
 /* Footer */
 .bg-footer{
     width: 100%;
     background-image: url('/assets/images/bg-footer.svg');     
     background-repeat: no-repeat;
     background-size: cover;
     /* height: 540px; */
     padding-top: 180px;
     padding-bottom: 100px;
     margin-top: 60px;     
 }

 .footer-logo{
    color:#fff;
 }
 .footer-logo img{
    margin-bottom: 20px;
 }
 .kontak{     
     color: #FFFFFF;
     list-style: none;    
     display: flex; 
 } 
.kontak span{
    margin-right: 10px;
}
.sosmed{   
    margin-top: 20px;
    text-align: center;
}
.sosmed ul{
    list-style: none;
    display: flex;  
    margin: 2% 10%;   
    padding: 0;
}
.sosmed li{
    margin: 5px;    
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 6% 2%;
    width: 60px;
    height: 60px;
}
.sosmed li a{
    color: #FFFFFF;
}
.sosmed .fb{
    background-color: #1773EA;
}
.sosmed .ig{
    background-color: #644BC6;
}
.sosmed .yt{
    background-color: #FF0000;
}
.sosmed .tw{
    background-color: #00ABF0;
}

/* Responsive */
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-nav{
        background-color:#E18A29;
        padding: 10px;
        border-radius: 5px;
    }
    .nav-item{        
        width: fit-content;
    }
    #slider-header {        
        height: 500px;
    }
    .menu-jenjang{
        width: 50%;
    }
    .bg-event{
        background-image: none;
        padding: 10px;
        height: 220px;
    }
    .list-unstyled{
        margin-top: 20px;
    }
    .vote{
        margin-top: 140px;
    }
    .quotes img {        
        left: 30%;
        width: 40%;
    } 
    .quotes .txt-quotes{
        padding: 0;
    }
    .txt-quotes h1 {
        font-size: 4vh;
    }
    .langganan .txt-langganan{
        padding: 0;
        padding-top: 5%;
    }
    .langganan img{
        top: -60px;
        left: 22%;
        width: 200px;
    }
    .langganan form{
        padding:0;
    }
    
    .card-slider a{
        padding: 20px;        
    }
    .card-slider a h4{
        font-size: 18px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav{
        background-color:#E18A29;
        padding: 10px;
        border-radius: 5px;
    }
    .nav-item{        
        width: fit-content;
    }
    #slider-header {        
        height: 550px;
    }
    .bg-event{
        background-image: none;
        padding: 20px;        
    }
    .vote{
        margin-top: 140px;
    }   
    .quotes img {        
        left: 30%;
        width: 40%;
    } 
    .langganan img{
        top: -60px;
        left: 26%;
        width: 200px;
    }
    .langganan .txt-langganan{
        padding: 0;
        padding-top: 5%;
    }
    /* .video-slider iframe{
        width: 100%;
        height: 300px;
    } */
    .card-slider a{
        padding: 20px;        
    }
    .card-slider a h4{
        font-size: 18px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-nav{
        background-color:#E18A29;
        padding: 10px;
        border-radius: 5px;
    }
    .nav-item{        
        width: fit-content;
    } 
    .bg-event{        
        padding: 0;        
    }
    .vote{
        margin-top: 140px;
    }
    
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .video-slider iframe{
        width: 500px;
        height: 300px;
    }
    
    #slider-layanan .card-body{        
        font-size: 12px;
    }
    .video-slider iframe{
        padding: 10px;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #slider-header {        
        height: 500px;
    }
    .video-slider iframe{
        padding: 10px;
    }
}