body{
    font-family: 'Open Sans', sans-serif;
}
hr {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 2px solid #D78428;
    width: 50px;
}
.hr-pengumuman{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid #D78428;
    width: 50px;
}
.txt-nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.txt-title-orange{
    color: #D78428;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;    
}
.txt-title-white{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;    
}
.txt-title-black{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;    
}
.txt-link-orange{
    color: #C7A330;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.txt-link-orange:hover {
    color: #D78428;
}
.txt-link-orange2{
    color: #D78428;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.txt-link-orange2:hover {
    color: #C7A330;
}
.txt-link-white{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
}
.txt-link-white:hover{
    color: #000;    
    text-decoration: none;
}
.txt-p{
    color:rgb(65, 65, 65);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.txt-span {
    color: rgb(92, 91, 91);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.badge-orange{
    background-color: #D78428;
}
.bg-hero {
    background-color: #D78428;
}
.logo-kemendikbud {
    
    height: 80px;
}
.logo-kemendikbud img{
    /* display: block; */
    width: 15%;
    height: auto;
}
.logo-kemendikbud h3{       
    display: inline-block;
    color: #fff;    
    font-size: 16px;    
    height: 80px;        
}
.btn-coklat {
    background-color: #D78428;
}
.bg-coklat {
    background-color: #D78428;
}

.bg-event {
    height: 300px;
    background-size: cover;
    background-image: url('/assets/images/bg-event.jpg');
    margin-bottom: 150px;
}
.card {
    border-radius: 1.25rem;
}
.card-link{
    display: block;
    width: fit-content;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 5px;
    color: white;
    padding: 4px 8px;
    background-color: #C7A330;
}
.card-link:hover {
    color: #fff;
    background-color: #D78428;
}
.bg-berita{
    border-radius: 5%;
}
.bg-pengumuman{    
    background-color: #D78428;
    border-radius: 10px;
}
.footer-ul {
    display: inline-block;
    color: #808184;
    list-style-type:none;
    padding: 0;    
}
.footer-ul li {
    margin: 15px;
}
.footer-ul li a {
   color: #808184;
}
.footer-ul li ul{
    margin: 0;
    padding: 0;
    position: relative;
    top: -28px;
    margin-left: 24px;
}

/* carousel */
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

